.roller {
    background-image: url("../Assets/darkside.jpg");
    background-size:cover;
    min-height:100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 10%;
    padding-bottom: 10%;
}


.dice_display, .instructions_display {
    background-color: rgba(32, 163, 178, 0.6);
    border: 5px solid blueviolet;
    border-radius: 50px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.dice_results_display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.die {
    display:flex;
    flex-direction: column;
    padding: 20px;
    button {
        margin-top: 40px;
    }
}


.results {
    display:flex;
    justify-content: center;
    border: 5px solid blueviolet;
    border-radius: 50px;
    padding-bottom: 100px;
    margin-bottom: 50px;
    width:100%;
    ul {
        padding: 5%;
    }
}


.clear {
    margin-bottom: 50px;
    padding: 15px 60px
}

.instructions {
    background: rgb(32,178,170);
    background: linear-gradient(140deg, rgba(32,178,170,1) 19%, rgba(138,43,226,1) 100%); 
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
    p{
        margin: 20px 10%;
    }
}

.instructions_list {
    border: 5px solid blueviolet;
    border-radius: 50px;
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        padding-top:10px;
        text-decoration: underline;
    }
    ol {
        padding:50px;
        li{
            margin-bottom:15px;
        }
    }
}

.credits{
    margin: 20px 0;
    p {
        margin:0 10%;
        text-align:center;
    }
}

.arrow{
    display:flex;
    justify-content: center;
    .fa-chevron-down {
        font-size: 15rem;
        margin-top: 100px;
        color: lightseagreen;
    }
}
