
@media (max-width:1000px){

    .roller {
        padding: 15% 0;
    }

    body{
        font-size: 2rem;
    }

    h1 {
        font-size:12rem;
    }

    .dice{
        flex-direction: column;
    }

    .dice_results_display {
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin-right: 5%;
        align-items: initial;
    }
    .results {
        grid-row-start: 1;
        grid-column-start: 2;
        margin-top: 45%;
        margin-bottom:10%;
        min-height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        justify-self:center;
        padding-bottom: 0;
    }

    .clear{
        grid-column-start: 2;
        grid-row-start: 1;
        margin-top: 15%;
        justify-self: center;
        align-self:flex-start;
    }
}

@media (max-width:650px) {

    .roller {
        padding: 25% 0;
    }

    h1 {
        font-size: 9rem;
        padding-top: 20px;
        font-weight:700;
    }

    body {
        font-size: 1.8rem;
    }

    .instructions_display {
        border: 0px;
        .instructions_list {
            border: 0px;
            ol {
                padding: 50px 0;
            }
        }
    }

        .wrapper {
            width: 100%;
        }

    .dice_display {
        border:none;
    }

    .results {
        grid-template-columns: 1fr 1fr;
        min-height:80vh;
        h2 {
            font-size: 2.7rem;
        }
    }

    .clear {
        padding: 15px 40px;
    }

    ul li p {
        font-size: 2rem;
    }
}

@media (max-width:400px) {
    .results {
        margin-top: 65%;
    }
.dice{
    padding-left:0;
    img {
        width:120%;
    }
}
}