
h1 {
    font-family: 'Tangerine', cursive;
    color:rgb(111, 39, 179);
    font-size: 17rem;
    padding-left:20px;
    text-align: center;
    margin: 20px;
    padding-right: 20px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight:600;
    font-size: 2rem;
}

ul {
    color:rgb(111, 39, 179);
    h2{
        text-decoration: underline;
    }
    li {
        list-style: none;
        text-align: center;
    }
}