
h1 {
    font-family: 'Tangerine', cursive;
    font-size: 17rem;
    padding-left:20px;
    text-align: center;
    margin: 20px;
    padding-right: 20px;
    line-height:1;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.6;
    font-weight:600;
    font-size: 2.5rem;
    color:#4a1191;
}

ul {
    color:#4a1191;
    h2{
        text-decoration: underline;
    }
    li {
        list-style: none;
        text-align: center;
        p{
            font-size:3rem;
        }
    }
}