html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

button {
  padding: 15px 20px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px #a649fd;
          box-shadow: 0px 5px 5px #a649fd;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button:active {
  top: 5px;
  -webkit-box-shadow: 0px 0px 0px #b377eb;
          box-shadow: 0px 0px 0px #b377eb;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size: 17rem;
  padding-left: 20px;
  text-align: center;
  margin: 20px;
  padding-right: 20px;
  line-height: 1;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.6;
  font-weight: 600;
  font-size: 2.5rem;
  color: #6f27b3;
}

ul {
  color: #6f27b3;
}

ul h2 {
  text-decoration: underline;
}

ul li {
  list-style: none;
  text-align: center;
}

ul li p {
  font-size: 3rem;
}

.roller {
  background-image: url("../Assets/darkside.jpg");
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 10%;
  padding-bottom: 10%;
}

.dice_display, .instructions_display {
  background-color: rgba(32, 163, 178, 0.6);
  border: 5px solid blueviolet;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dice_results_display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.die {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.die button {
  margin-top: 40px;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 5px solid blueviolet;
  border-radius: 50px;
  padding-bottom: 100px;
  margin-bottom: 50px;
  width: 100%;
}

.results ul {
  padding: 5%;
}

.clear {
  margin-bottom: 50px;
  padding: 15px 60px;
}

.instructions {
  background: lightseagreen;
  background: linear-gradient(140deg, lightseagreen 19%, blueviolet 100%);
  min-height: 100vh;
  padding-top: 10%;
  padding-bottom: 10%;
}

.instructions p {
  margin: 20px 10%;
}

.instructions_list {
  border: 5px solid blueviolet;
  border-radius: 50px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instructions_list h2 {
  padding-top: 10px;
  text-decoration: underline;
}

.instructions_list ol {
  padding: 50px;
}

.instructions_list ol li {
  margin-bottom: 15px;
}

.credits {
  margin: 20px 0;
}

.credits p {
  margin: 0 10%;
  text-align: center;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow .fa-chevron-down {
  font-size: 15rem;
  margin-top: 100px;
  color: lightseagreen;
}

@media (max-width: 1000px) {
  .roller {
    padding: 15% 0;
  }
  body {
    font-size: 2rem;
  }
  h1 {
    font-size: 12rem;
  }
  .dice {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dice_results_display {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    margin-right: 5%;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  .results {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 2;
        grid-column-start: 2;
    margin-top: 45%;
    margin-bottom: 10%;
    min-height: 80vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    -ms-grid-column-align: center;
        justify-self: center;
    padding-bottom: 0;
  }
  .clear {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    margin-top: 15%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (max-width: 650px) {
  .roller {
    padding: 25% 0;
  }
  h1 {
    font-size: 9rem;
    padding-top: 20px;
    font-weight: 700;
  }
  body {
    font-size: 1.8rem;
  }
  .instructions_display {
    border: 0px;
  }
  .instructions_display .instructions_list {
    border: 0px;
  }
  .instructions_display .instructions_list ol {
    padding: 50px 0;
  }
  .wrapper {
    width: 100%;
  }
  .dice_display {
    border: none;
  }
  .results {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    min-height: 80vh;
  }
  .results h2 {
    font-size: 2.7rem;
  }
  .clear {
    padding: 15px 40px;
  }
  ul li p {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .results {
    margin-top: 65%;
  }
  .dice {
    padding-left: 0;
  }
  .dice img {
    width: 120%;
  }
}
